{% raw %}
name: test

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  - name: Install cargo-make
    uses: actions-rs/cargo@v1
    with:
      command: install
      args: --debug cargo-make
  - name: Run CI
    uses: actions-rs/cargo@v1
    with:
      command: make
      args: test-template
{% endraw %}